In [1]:
import pandas as pd
import numpy as np

In [2]:
orders = pd.read_csv('Orders.csv')

In [3]:
Customers = pd.read_csv('Customers.csv')

In [4]:
Agents = pd.read_csv('Agents.csv')

In [5]:
Agents.head()

,AGENT_CODE,AGENT_NAME,WORKING_AREA,COMMISSION,PHONE_NO,COUNTRY
0,A007,Ramasundar,Bangalore,0.15,077-25814763,\r
1,A003,Alex,London,0.13,075-12458969,\r
2,A008,Alford,New York,0.12,044-25874365,\r
3,A011,Ravi Kumar,Bangalore,0.15,077-45625874,\r
4,A010,Santakumar,Chennai,0.14,007-22388644,\r

In [15]:
Agents.drop(Agents.columns[-1], axis=1, inplace=True)

In [16]:
Agents.head()

,AGENT_CODE,AGENT_NAME,WORKING_AREA,COMMISSION,PHONE_NO
0,A007,Ramasundar,Bangalore,0.15,077-25814763
1,A003,Alex,London,0.13,075-12458969
2,A008,Alford,New York,0.12,044-25874365
3,A011,Ravi Kumar,Bangalore,0.15,077-45625874
4,A010,Santakumar,Chennai,0.14,007-22388644

In [18]:
merge_colum=pd.merge(orders,Customers)

In [23]:
merge_colum

,ORD_NUM,ORD_AMOUNT,ADVANCE_AMOUNT,ORD_DATE,CUST_CODE,AGENT_CODE,ORD_DESCRIPTION,CUST_NAME,CUST_CITY,WORKING_AREA,CUST_COUNTRY,GRADE,OPENING_AMT,RECEIVE_AMT,PAYMENT_AMT,OUTSTANDING_AMT,PHONE_NO
0,200100,1000.0,600.0,2008-01-08,C00015,A003,SOD\r,Stuart,London,London,UK,1,6000.0,8000.0,3000.0,11000.0,GFSGERS
1,200127,2500.0,400.0,2008-07-20,C00015,A003,SOD\r,Stuart,London,London,UK,1,6000.0,8000.0,3000.0,11000.0,GFSGERS
2,200110,3000.0,500.0,2008-04-15,C00019,A010,SOD\r,Yearannaidu,Chennai,Chennai,India,1,8000.0,7000.0,7000.0,8000.0,ZZZZBFV
3,200107,4500.0,900.0,2008-08-30,C00007,A010,SOD\r,Ramanathan,Chennai,Chennai,India,1,7000.0,11000.0,9000.0,9000.0,GHRDWSD
4,200119,4000.0,700.0,2008-09-16,C00007,A010,SOD\r,Ramanathan,Chennai,Chennai,India,1,7000.0,11000.0,9000.0,9000.0,GHRDWSD
5,200135,2000.0,800.0,2008-09-16,C00007,A010,SOD\r,Ramanathan,Chennai,Chennai,India,1,7000.0,11000.0,9000.0,9000.0,GHRDWSD
6,200112,2000.0,400.0,2008-05-30,C00016,A007,SOD\r,Venkatpati,Bangalore,Bangalore,India,2,8000.0,11000.0,7000.0,12000.0,JRTVFDD
7,200113,4000.0,600.0,2008-06-10,C00022,A002,SOD\r,Avinash,Mumbai,Mumbai,India,2,7000.0,11000.0,9000.0,9000.0,113-12345678
8,200123,500.0,100.0,2008-09-16,C00022,A002,SOD\r,Avinash,Mumbai,Mumbai,India,2,7000.0,11000.0,9000.0,9000.0,113-12345678
9,200126,500.0,100.0,2008-06-24,C00022,A002,SOD\r,Avinash,Mumbai,Mumbai,India,2,7000.0,11000.0,9000.0,9000.0,113-12345678
10,200102,2000.0,300.0,2008-05-25,C00012,A012,SOD\r,Steven,San Jose,San Jose,USA,1,5000.0,7000.0,9000.0,3000.0,KRFYGJK
11,200131,900.0,150.0,2008-08-26,C00012,A012,SOD\r,Steven,San Jose,San Jose,USA,1,5000.0,7000.0,9000.0,3000.0,KRFYGJK
12,200114,3500.0,2000.0,2008-08-15,C00002,A008,SOD\r,Bolt,New York,New York,USA,3,5000.0,7000.0,9000.0,3000.0,DDNRDRH
13,200122,2500.0,400.0,2008-09-16,C00003,A004,SOD\r,Martin,Torento,Torento,Canada,2,8000.0,7000.0,7000.0,8000.0,MJYURFD
14,200118,500.0,100.0,2008-07-20,C00023,A006,SOD\r,Karl,London,London,UK,0,4000.0,6000.0,7000.0,3000.0,AAAABAA
15,200121,1500.0,600.0,2008-09-23,C00008,A004,SOD\r,Karolina,Torento,Torento,Canada,1,7000.0,7000.0,9000.0,5000.0,HJKORED
16,200108,4000.0,600.0,2008-02-15,C00008,A004,SOD\r,Karolina,Torento,Torento,Canada,1,7000.0,7000.0,9000.0,5000.0,HJKORED
17,200130,2500.0,400.0,2008-07-30,C00025,A011,SOD\r,Ravindran,Bangalore,Bangalore,India,2,5000.0,7000.0,4000.0,8000.0,AVAVAVA
18,200105,2500.0,500.0,2008-07-18,C00025,A011,SOD\r,Ravindran,Bangalore,Bangalore,India,2,5000.0,7000.0,4000.0,8000.0,AVAVAVA
19,200134,4200.0,1800.0,2008-09-25,C00004,A005,SOD\r,Winston,Brisban,Brisban,Australia,1,5000.0,8000.0,7000.0,6000.0,AAAAAAA
20,200103,1500.0,700.0,2008-05-15,C00021,A005,SOD\r,Jacks,Brisban,Brisban,Australia,1,7000.0,7000.0,7000.0,7000.0,WERTGDF
21,200109,3500.0,800.0,2008-07-30,C00011,A010,SOD\r,Sundariya,Chennai,Chennai,India,3,7000.0,11000.0,7000.0,11000.0,PPHGRTS
22,200101,3000.0,1000.0,2008-07-15,C00001,A008,SOD\r,Micheal,New York,New York,USA,2,3000.0,5000.0,2000.0,6000.0,CCCCCCC
23,200111,1000.0,300.0,2008-07-10,C00020,A008,SOD\r,Albert,New York,New York,USA,3,5000.0,7000.0,6000.0,6000.0,BBBBSBB
24,200104,1500.0,500.0,2008-03-13,C00006,A004,SOD\r,Shilton,Torento,Torento,Canada,1,10000.0,7000.0,6000.0,11000.0,DDDDDDD
25,200106,2500.0,700.0,2008-04-20,C00005,A002,SOD\r,Sasikant,Mumbai,Mumbai,India,1,7000.0,11000.0,7000.0,11000.0,147-25896312
26,200125,2000.0,600.0,2008-10-10,C00018,A005,SOD\r,Fleming,Brisban,Brisban,Australia,2,7000.0,7000.0,9000.0,5000.0,NHBGVFC
27,200117,800.0,200.0,2008-10-20,C00014,A001,SOD\r,Rangarappa,Bangalore,Bangalore,India,2,8000.0,11000.0,7000.0,12000.0,AAAATGF
28,200120,500.0,100.0,2008-07-20,C00009,A002,SOD\r,Ramesh,Mumbai,Mumbai,India,3,8000.0,7000.0,3000.0,12000.0,Phone No
29,200128,3500.0,1500.0,2008-07-20,C00009,A002,SOD\r,Ramesh,Mumbai,Mumbai,India,3,8000.0,7000.0,3000.0,12000.0,Phone No
30,200133,1200.0,400.0,2008-06-29,C00009,A002,SOD\r,Ramesh,Mumbai,Mumbai,India,3,8000.0,7000.0,3000.0,12000.0,Phone No
31,200116,500.0,100.0,2008-07-13,C00010,A009,SOD\r,Charles,Hampshair,Hampshair,UK,3,6000.0,4000.0,5000.0,5000.0,MMMMMMM
32,200124,500.0,100.0,2008-06-20,C00017,A007,SOD\r,Srinivas,Bangalore,Bangalore,India,2,8000.0,4000.0,3000.0,9000.0,AAAAAAB
33,200129,2500.0,500.0,2008-07-20,C00024,A006,SOD\r,Cook,London,London,UK,2,4000.0,9000.0,7000.0,6000.0,FSDDSDF

In [28]:
Three_merge = pd.merge(merge_colum,Agents,full_on='AGENT_CODE')

TypeError: merge() got an unexpected keyword argument 'full_on'

In [29]:
import pandas as pd
from functools import reduce

# compile the list of dataframes you want to merge
data_frames = [orders,Customers,Agents]
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['AGENT_CODE'],
                                            how='outer'), data_frames)

In [32]:
Join_data=df_merged
Join_data

,ORD_NUM,ORD_AMOUNT,ADVANCE_AMOUNT,ORD_DATE,CUST_CODE_x,AGENT_CODE,ORD_DESCRIPTION,CUST_CODE_y,CUST_NAME,CUST_CITY,...,GRADE,OPENING_AMT,RECEIVE_AMT,PAYMENT_AMT,OUTSTANDING_AMT,PHONE_NO_x,AGENT_NAME,WORKING_AREA_y,COMMISSION,PHONE_NO_y
0,200100,1000.0,600.0,2008-01-08,C00015,A003,SOD\r,C00013,Holmes,London,...,2.0,6000.0,5000.0,7000.0,4000.0,BBBBBBB,Alex,London,0.13,075-12458969
1,200100,1000.0,600.0,2008-01-08,C00015,A003,SOD\r,C00015,Stuart,London,...,1.0,6000.0,8000.0,3000.0,11000.0,GFSGERS,Alex,London,0.13,075-12458969
2,200127,2500.0,400.0,2008-07-20,C00015,A003,SOD\r,C00013,Holmes,London,...,2.0,6000.0,5000.0,7000.0,4000.0,BBBBBBB,Alex,London,0.13,075-12458969
3,200127,2500.0,400.0,2008-07-20,C00015,A003,SOD\r,C00015,Stuart,London,...,1.0,6000.0,8000.0,3000.0,11000.0,GFSGERS,Alex,London,0.13,075-12458969
4,200110,3000.0,500.0,2008-04-15,C00019,A010,SOD\r,C00019,Yearannaidu,Chennai,...,1.0,8000.0,7000.0,7000.0,8000.0,ZZZZBFV,Santakumar,Chennai,0.14,007-22388644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,200125,2000.0,600.0,2008-10-10,C00018,A005,SOD\r,C00004,Winston,Brisban,...,1.0,5000.0,8000.0,7000.0,6000.0,AAAAAAA,Anderson,Brisban,0.13,045-21447739
82,200115,2000.0,1200.0,2008-02-08,C00013,A013,SOD\r,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,200132,4000.0,2000.0,2008-08-15,C00013,A013,SOD\r,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,200117,800.0,200.0,2008-10-20,C00014,A001,SOD\r,C00014,Rangarappa,Bangalore,...,2.0,8000.0,11000.0,7000.0,12000.0,AAAATGF,Subbarao,Bangalore,0.14,077-12346674
85,200116,500.0,100.0,2008-07-13,C00010,A009,SOD\r,C00010,Charles,Hampshair,...,3.0,6000.0,4000.0,5000.0,5000.0,MMMMMMM,Benjamin,Hampshair,0.11,008-22536178

In [36]:
Data=Join_data.dropna()

In [38]:
Ass_1 = Data.loc[:,['CUST_NAME','CUST_NAME','AGENT_NAME','WORKING_AREA_y','ORD_NUM','ORD_AMOUNT','ORD_DESCRIPTION']]

In [39]:
Ass_1

,CUST_NAME,CUST_NAME,AGENT_NAME,WORKING_AREA_y,ORD_NUM,ORD_AMOUNT,ORD_DESCRIPTION
0,Holmes,Holmes,Alex,London,200100,1000.0,SOD\r
1,Stuart,Stuart,Alex,London,200100,1000.0,SOD\r
2,Holmes,Holmes,Alex,London,200127,2500.0,SOD\r
3,Stuart,Stuart,Alex,London,200127,2500.0,SOD\r
4,Yearannaidu,Yearannaidu,Santakumar,Chennai,200110,3000.0,SOD\r
...,...,...,...,...,...,...,...
79,Fleming,Fleming,Anderson,Brisban,200125,2000.0,SOD\r
80,Jacks,Jacks,Anderson,Brisban,200125,2000.0,SOD\r
81,Winston,Winston,Anderson,Brisban,200125,2000.0,SOD\r
84,Rangarappa,Rangarappa,Subbarao,Bangalore,200117,800.0,SOD\r
85,Charles,Charles,Benjamin,Hampshair,200116,500.0,SOD\r

In [41]:
Ass_1.to_csv('Ass_1_csv_file')